@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.background {
    background-image: url("/wave.svg");
    background-size: cover;
}

.max-width-300 {
    max-width: 300px;
}

.gradient {
    background: linear-gradient(56deg, #0141FF 0%, #FF000F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pixelart {
    image-rendering: pixelated;
}
