@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.background {
    background-image: url("/wave.svg");
    background-size: 100vw;
    background-repeat: no-repeat
}

.pixelart {
    image-rendering: pixelated;
}

.red_glow {
     box-shadow: 0 0 5px 5px rgba(189, 17, 17, 0.5);
}

.green_glow {
     box-shadow: 0 0 4px 4px rgba(97, 237, 141, 0.5);
}

.black_glow {
     box-shadow: 0 0 6px 6px rgba(2, 2, 2, 0.5);
}
